<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="percentValue" value="1,3"/><!--Para por casas decimais tem de ser com virgula e nao ponto-->
    <add key="btc_qty" value="0,0020"/><!--Para por casas decimais tem de ser com virgula e nao ponto-->    
    <add key="min_time" value="10"/>
    <add key="max_time" value="15"/>
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>
